.chat-container {
  width: 100% !important;
  height: 100% !important;
  /* background: aqua !important; */
  overflow: scroll !important;
}

.chat-flexbox {
  width: 100%;
  height: 100%;
  /* background: yellowgreen; */
  display: flex !important;
}

.chat-friends {
  /* background: purple !important; */
  flex: 3.5 !important;
  overflow: scroll !important;
  /* padding: 10px !important; */
  border-right: 1px solid rgba(204, 204, 204, 0.507) !important;
}

.chat-window {
  /* background: green !important; */
  flex: 8.5 !important;
  overflow: scroll !important;
  display: flex !important;
  flex-direction: column !important;
}
