.workspace-container {
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  /* background: red !important; */
}

.workspace-row {
  display: flex;
  padding: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  /* background: purple; */
}

.muted {
  color: #bbbfca !important;
}

.workspace-body {
  /* background: red !important; */
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  margin-left: 80px !important;
  margin-right: 20px;
}
.workspace-cards {
  /* width: 80%; */
  padding-bottom: 20px !important;
  /* background: pink !important; */
  /* margin: auto; */
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  /* flex-basis: 33.33% !important; */
  /* justify-content: space-between !important; */
  align-items: flex-start !important;
  align-content: flex-start !important;
}

.transition-class {
  transition: all 0.5s ease-in-out !important;
}
.drawer-dark {
  background: #262626 !important;
}

.italic {
  font-style: italic !important;
}

.workspace-card {
  /* max-width: 200px !important; */
  width: 240px !important;
  margin-bottom: 10px !important;
  margin-right: 1.75%;
}

.dark-card {
  background: #4b4b4b !important;
}

.light-card {
  background: #ebebebca !important;
}
