.chat-info-bar {
  flex: 1.5 !important;
  border-bottom: 1px solid rgba(204, 204, 204, 0.507) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding-left: 20px;
  padding-right: 20px;
}

.user-name {
  margin-left: 10px !important;
  font-weight: 500 !important;
}

.chat-info-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-info-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paper-padding {
  padding: 10px !important;
}

.color-circles {
  display: inline-block;
  margin: 2px;
  margin-left: 4px;
  margin-right: 4px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.themeee5522 {
  background-image: url("../ChatBg/orange-theme.svg") !important;
}

.theme1597e5 {
  background-image: url("../ChatBg/blue-theme.svg") !important;
}

.theme1c7947 {
  background-image: url("../ChatBg/green-theme.svg") !important;
}

.theme1a1b1a {
  background-image: url("../ChatBg/gray-theme.svg") !important;
}

.color-circles:hover {
  transition: 100ms all ease-in-out;
  transform: scale(1.2);
}
