.dialog-title-with-icon {
  /* width: 100% !important; */
  /* min-width: 100% !important; */
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}
