.shortcut-container {
  min-width: 700px !important;
  /* display: flex; */
}

.width-100 {
  width: 100% !important;
}

@media (max-width: 700px) {
  .width-100 {
    max-width: 65% !important;
  }
}
