.chat-main-window {
  flex: 9.5;
  display: flex !important;
  flex-direction: column !important;
  /* overflow: scroll !important; */
}

.hidden-picker {
  display: none !important;
  visibility: hidden !important;
}
.chat-playground {
  flex: 11.5 !important;
  background-image: url("../ChatBg/orange-theme.svg");
  background-size: cover !important;
  background-position: center !important;
  overflow: scroll !important;
  height: 100% !important;
  width: 100% !important;
  transition: all 0.5s ease-in-out !important;
}

.theme-orange {
  background-image: url("../ChatBg/orange-theme.svg") !important;
}

.theme-blue {
  background-image: url("../ChatBg/blue-theme.svg") !important;
}

.theme-green {
  background-image: url("../ChatBg/green-theme.svg") !important;
}

.theme-dark {
  background-image: url("../ChatBg/gray-theme.svg") !important;
}

.msg-bar {
  flex: 2 !important;
}

.msg-bar-item-container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex !important;
  align-content: center !important;
  justify-content: space-between !important;
}

.dark-mode-chat {
  background: #4b4b4b;
}

.msg-input {
  width: 100%;
}
